// ==========================================================================
// Global
// ========================================================================== 

.active {
  color: $color-accent;
}

.uppercase {
  text-transform: uppercase;
}

@each $page, $bg-img in (main-wrapper: main-bg, portfolio-wrapper: portfolio-bg, about-wrapper: about-bg) {
  .#{$page} {
    background: url("../images/#{$bg-img}.jpg") center center no-repeat;
  }
}

.main-wrapper,
.portfolio-wrapper,
.about-wrapper {
  background-position: 50% 0%;
  @include background-size(cover);
}

// ==========================================================================
// Navigation
// ========================================================================== 
// TODO: => Implement magelan navigation.

.nav {
  @extend .hide-for-small-only;
  @include x-rem(padding-left, 3.5);
  position: fixed;
  top: 0;
  right: 0;
  width: 150px;
  height: 100%;
  background-color: $color-brand;

  &-logo {
    @include x-rem(margin-top, 5);

    &-active path {
      fill: $color-accent;
    }
  }

  &-list {
    @include no-bullet();
    @include x-rem(margin-top, 13);

    &-item {
      @include font($uppercase: true);
      
      &-link {
        position: relative;
        
        &:before {
          @include single-transition();
          @include diamond($color: $color-accent);
          position: absolute;
          top: 8px;
          left: -15px;
          opacity: 0;
        }

        &:hover:before {
          opacity: 1;
        }
      }
    }
  }
}

.active-nav {
  @extend .active;

  &:before {
    @include diamond($color: $color-accent);
    display: inline-block;
    position: relative;
    margin-left: -15px;
    margin-right: 6px;
  }
}

.lang {
  @include no-bullet();
  @include x-rem(margin-top, 25);

  &-item {
    @include font($size: 14);
  }
}


// ==========================================================================
// Main
// ========================================================================== 

.main {
  @include grid-row();
  min-height: 700px;
  @media #{$medium-up} {
    padding-right: 150px;
  }

  &-primary-heading {
    @include grid-column(12, $center: true);
    @include x-rem(margin-top, 24);
    @include font-size(72);
    text-align: center;
    line-height: 60px;
  }

  &-secondary-heading {
    @include grid-column(12, $center: true);
    @include font-size(32);
    text-align: center;
  }
}


.diamond:before {
  @include diamond();
  @include x-rem(margin, 0 .2 .5 1.2);
  display: inline-block;
  position: relative;
}


// ==========================================================================
// Portfolio
// ========================================================================== 

.portfolio {
  @include grid-row();
  @include single-transition(min-height);
  min-height: 700px;
  
  @media #{$large-up} {
    min-height: 900px;
  }
  
  &-list {
    @include grid-column(9, $offset: 1);
    @include no-bullet();
    @include x-rem(padding-top, 20);
    display: block;
    text-align: center;

    &-item {
      @include inline-list();
      
      &-link {
        @include button-trans($font-size: 32);
        @include x-rem(margin-top, 6);
        @include x-rem(margin-right, 2.5);
        @include x-rem(padding-top, 1.5);
        position: relative;
        width: 230px;
        height: 75px;
        
        &:before {
          @include pseudo($top: -17px, $left: -17px, $size: 32px);
          @include transform(rotate(-45deg) scale(.8));
          @include single-transition(all, .3s, ease);
          @include opacity(0);
          background-color: transparent;
          border: 3px solid $color-base;
        }

        &:hover:before {
          @include transform(rotate(45deg), scale(1));
          @include opacity(1);
        }
      }
    }
  }
}


// ==========================================================================
// Gallary
// ==========================================================================
// TODO: => [×] Add hover animation for gallery images. 


.gallery-wrapper {
  @include grid-row();
  width: 100%;
  max-width: 100%;

  @media #{$medium-up} {
    @include x-rem(padding-right, 15);
  }
}

.gallery {
  @include block-grid(2, 0);
  background-color: $color-brand;

  // Image grid generator. 
  // The loop creates @media breakpoints for adding new column of images 
  // when $origin-img-width is reached.
  @for $i from 2 through 5 {
    $origin-img-width: 350; // [!] Max img width will be ($img-width - 4)px because of [?]inline-blocks
    @media only screen and (min-width: ($i * $origin-img-width + 150) + px) { 
      @include block-grid($i + 1, 0);
    }
  }

  &-item {
    position: relative;

    &:nth-child(odd) {
      .gallery-item-overlay {
        &:before {
          background-color: $color-brand;
        }
        
        &:after {
          background-image: url("../images/empty-diamond-blue.png");
        }
      }
    }

    &:nth-child(even) {
      .gallery-item-overlay {
        &:before {
          background-color: $color-accent;
        }

        &:after {
          background-image: url("../images/empty-diamond-green.png");
        }
      }
    }

    &-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      
      &:before {
        @include pseudo();
        @include single-transition(all, .5s, ease);
        @include opacity(.25);
        //background-color: $color-accent;
      }
    
      &:after {
        @include pseudo($top: -20%, $left: -20%, $size: 140%);
        @include transform(scale(.75) rotate(-90deg));
        @include opacity(0);
        @include single-transition(all, .5s, ease); 
        //background-image: url("../images/empty-diamond-green.png");
        background-size: 100% 100%;
      }

      &:hover {
        
        &:after {
          @include transform(scale(1.42) rotate(0));
          @include opacity(1);
        }

        &:before {
          @include opacity(0);
        }
      }
    }
  } 
} 

// ==========================================================================
// About
// ========================================================================== 

.about {
  @include grid-row();
  min-height: 2280px;


  &-item {
    @include x-rem(margin-bottom, 22);
    @include grid(12, 10, 10);
    @include clearfix();
    position: relative;
    min-height: 245px;
    overflow: visible;
    
    &:first-child {
      @include x-rem(margin-top, 22);
    }

    &:last-of-type {
      @include x-rem(margin-bottom, 25);
    }

    @media #{$medium-up} {
      @include x-rem(margin-bottom, 50);
    }

    &-img-container {
      @include rotate(45deg);
      @include x-rem(margin-left, 3.5);
      @include x-rem(margin-top, 3.5);
      @include x-rem(padding-left, .75);
      position: relative;
      float: left;
      width: 170px;
      height: 170px;
      overflow: hidden;
      border: 10px solid $color-accent;
      
      @media #{$small-only} {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
       }
    }

    &-img {
      @include rotate(-45deg);
      position: absolute;
      max-width: 215px;
      // Some magic numbers :(
      top: -21%;
      left: -21%;
    }

    &-overlay {
      @extend .about-item-img-container;
      position: absolute;
      top: -70px;
      top: -7rem;
      left: 7.5px;
      left: .75rem;
      border: 10px solid $color-brand;
      background-color: rgba($color-base, .3);
    }

    &-text, 
    &-list {
      @include grid(10, 6, 7, $has-s-offset: 1);
      @include x-rem(padding-top, 25);
      text-align: center;
    }
    
    &-text {
      @media #{$medium-up} {
        @include x-rem(padding-top, 3);
        text-align: left;
      }
    }

    &-list {
      @media #{$medium-up} {
        @include x-rem(padding-top, 1.5);
        text-align: left;
      }

      &-item {
        @include x-rem(margin-bottom, 2);
      }
    }
  }
}

.large-numbers {
  @include font-size(92);
  @include x-rem(padding-right, 1.5);
  float: left;
  line-height: 80px;
  
  @media #{$small-only} {
    width: 100%;
  }
}

.larger-heading {
  @include x-rem(padding-top, .75);
  @include font-size(26);
  line-height: 20px;
}


// ==========================================================================
// Social block
// ========================================================================== 

.social {
  @include grid(12);

  @media #{$medium-up} {
    @include x-rem(padding-right, 15);
  }

  &-heading {
    text-align: center;
  }

  &-list {
    @include x-rem(margin-top, 8);
    @include x-rem(margin-bottom, 15);
    text-align: center;
    
    &-item {
      @include font-size(32);
      @include x-rem(margin-right, 10);
      @include transition();
      position: relative;
      float: none;
      width: 48px;
      height: 48px;
      display: inline-block;

      &-link {
        @include rotate(45deg);
        position: absolute;
        top: -23%;
        left: -23%;
        width: 150%;
        height: 150%;
        z-index: 2;
      }

      &:last-child {
        @include x-rem(margin-right, 0);
      }

      &:after {
        @include pseudo($top: -23%, $left: -23%, $width: 72px, $height: 72px);
        @include rotate(45deg);
        @include transition();
        border: 3px solid $color-base;
        background-color: transparent;
        z-index: 1;
      }

      &:hover {
        color: $color-accent;

        &:after {
          border: 3px solid $color-accent;
        }
      }
    }
  }
}

