doctype html
//if lt IE7 html(.no-js.lt-ie7.lt-ie8.lt-ie9)
//if lt IE8 html(.no-js.lt-ie8.lt-ie9)
//if lt IE9 html(.no-js.lt-ie9)
//if gt IE8 html(.no-js)
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Varvara Barto
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/style.css")

    script(src="bower_components/foundation/js/vendor/modernizr.js") 
  body
    //if lt IE 7 
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. 
      Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    


    //- Scripts
    //- ==========================================
    script(src="bower_components/foundation/js/vendor/jquery.js")
    script(src="bower_components/foundation/js/foundation.min.js")
    script(src="js/script.js")
    script
      $(document).foundation();