doctype html
//if lt IE7 html(.no-js.lt-ie7.lt-ie8.lt-ie9)
//if lt IE8 html(.no-js.lt-ie8.lt-ie9)
//if lt IE9 html(.no-js.lt-ie9)
//if gt IE8 html(.no-js)
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Varvara Barto
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="css/normalize.css")
    link(rel="stylesheet", href="css/style.css")

    script(src="js/vendor/modernizr.js") 
  body
    //if lt IE 7 
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. 
      Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    nav.nav
      object(class="nav-logo", type="image/svg+xml", data="images/logo.svg")
      //- TODO: Add fallback image.
      ul.nav-list
        li.nav-list-item 
          a(class="nav-list-item-link", href="#") main
        li.nav-list-item 
          a(class="nav-list-item-link", href="#") portfolio
        li.nav-list-item 
          a(class="nav-list-item-link", href="#") about
        li.nav-list-item 
          a(class="nav-list-item-link", href="#") contact
      ul.lang
        li.lang-item
          a(href="#", class="active") EN
        li.lang-item
          a(href="#") RU
    .main
      .main-content
        h1.main-content-primary-heading Varvara Barto
        h2.main-content-secondary-heading fashion stylist <i class="diamond"></i> designer <i class="diamond"></i> artist

    //- Scripts
    //- ==========================================
    script(src="js/vendor/jquery.js")
    script(src="js/foundation.min.js")
    script(src="js/script.js")
    script
      $(document).foundation();